:root{
    --teal: #2ec1ac;
    --teal_hover: #2ec1Bc;
}
  
*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', 'Times New Roman';
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearanc: textfield;
}
  
.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}
  
.custom-bg:hover{
    background-color: var(--teal_hover);
    border: 1px solid var(--teal_hover);
}
  
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.availability.form{
    margin-top: -50px;
    z-index: 2;
}

@media screen and (max-width: 57spx) { 
    .availability.form{
      margin-top: 25px;
      padding: 0 25px;
    }
}

.box{
    border-top-color: var(--teal) !important;
}

.pop:hover{
    border-top-color: var(--teal) !important;
    transform: scale(1.03);
    transition: all 0.3s;
}

#saveFiltersBtn {
    width: 100%; 
}